<div id="education" class="page">
  <section>
    <h1>Member Education</h1>
    <p>The Food Producers Hub Education Portal is your hub for learning resources. We can teach you how to grow tomatoes and harvest fish, for example.</p>
  </section>
</div>
