<%= render layout: 'layouts/landing_page_wrapper', locals: { page_id: 'join'} do %>
  <section class="introduction">
    <h1>Join the Food Producers Forum Hub!</h1>
    <p>
      We have created this platform to allow farmer, gardeners, foragers, hunters and fishers to connect and share information and new ideas.   Anyone involved in food production or interested in expanding food security in Newfoundland and Labrador or the Atlantic region of Canada is welcome as a member.
    </p>

    <p>
      To join you will select a level of membership that is right for you, contribute an annual membership fee, which will support this website and our other activities, and you will then have full access to our forums and services.
    </p>

    <p>
      We are Food Producers Forum, a non-profit provincial society dedicated to supporting and expanding local food to help our province get back to a reasonable level of food security and food justice.   To do this, we see that there are thousands of gardeners and growers, as well as people gathering wild foods, who will gain by talking to each other and sharing ideas.
    </p>

    <p>
      Across the province we already know of hundreds of new food producers in local communities. By joining us you will become part of a province-wide community. This will give you a chance to share ideas, ask questions and be part of restoring healthy, local food to everyone who needs this.
    </p>

    <p>
      As a member you will have access to services that include marketing of what you produce, advice from mentors in the wider community, a way to share your ideas and access to a range of websites, publications and groups.
    </p>

    <p>
      Let us know if you have any questions, by emailing foodproducersforum@gmail.com
    </p>

    <p>
      Once your questions are answered we will look forward to you becoming a full member on the Food Producers Forum Hub!
    </p>
  </section>

  <section class="membership-fees">
    <h3>Membership Fees</h3>
    <table class="membership-fee-table">
      <thead>
        <tr>
          <th>Type</th>
          <th>Annual Fee</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Associate</td>
          <td>$25</td>
        </tr>
        <tr>
          <td>Active</td>
          <td>$47</td>
        </tr>
        <tr>
          <td>Supporter</td>
          <td>$200</td>
        </tr>
        <tr>
          <td>Sponsor (lifetime member)</td>
          <td>$500 or more</td>
        </tr>
      </tbody>
    </table>
  </section>
<% end %>
