<section id="join" class="page-contents">
  <h1>Join Food Producers Member Forums!</h1>
  <p>We have lots of interesting discussions, events and much more.</p>
  <p>Click <a href="/">here</a> to check out our latest topics</p>
</section>