<%= render layout: 'layouts/landing_page_wrapper', locals: { page_id: 'welcome', page_classes: 'landing' } do %>
  <section class="page-cover">
    <h1>Welcome to the Food Producers Forum Hub!</h1>
    <h3>We invite you to become a Member! </h3>
  </section>
  <section class="introduction">
    <p>
      We are Food Producers Forum, a non-profit society supporting people who produce local food to help our province rebuild food security and food justice.
    </p>
    <p>
      When you join, you will become part of a province-wide interconnected community of farmers, gardeners, hunters, fishers and foragers.
    </p>
    <p>
      We have created this platform to allow you to connect and share information and new ideas.
    </p>
    <p>
      Being a Member gives you a place to share your ideas, ask questions and be part of supplying food to everyone who needs healthy, local food.
    </p>
    <p>
      Members have direct access to services that include marketing of the food and products you produce, advice from mentors in the community, a place to share your ideas and a connection to a range of useful websites, publications and groups.
    </p>
    <p>
      We look forward to welcoming you as a member of Food Producers Forum!
    </p>
    <a href="/login" class="btn btn-primary">
      Click here to become a member or log in as an existing member
    </a>
  </section>
<% end %>
