<div id="connect" class="page">
  <section>
    <h1>Connect With Us</h1>
    <p>We are on social media platforms</p>
    <ul>
      <li><a href="https://www.facebook.com/FoodProducersNL/" target="fpf-facebook">Facebook</a></li>
    </ul>
  </section>
</div>
